*{
    margin: 0;
    padding: 0;
}

body{
  background-color: white;
}

/* NavBAr CSS */
.dropDownNav {
  background-color: black;
  overflow: hidden;
}

.dropDownNav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.dropDownNav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.dropDownNav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(68, 67, 67);
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  /* StaffPage - Heading CSS */

  #staff-page-heading {
      background-image: url("../images/background_1.jpg");
      background-size: 110%;
      background-position: -28px -170px;
      background-repeat: no-repeat;
      height: 600px;
      width: 100hw;
      box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      font-family: 'Staatliches';
  }
  #staff-page-heading h1{
    padding-bottom: 150px;
    text-shadow:    1px 1px 1px rgba(255, 255, 255, 0.4);
    width: 45%;
    text-align: center;
  }
  .heading-img{
      width: 100%;
      height: 600px;
      overflow: hidden;
      object-fit: cover;
  }

  #staff-info{
    margin: 20px;
    height: 100%;
    width: 100hw;
  }

   /* StaffPage - Departments CSS */

  .department{
    margin: 20px;
    height: 100%;
    width: 100hw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .employee{
    margin: 15px;
    height: 100%;
    width: 50%;

  }

   /* StaffPage - Employee Cards CSS */

  .card .employee-info {
        opacity: 0;
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        padding: 5% 0;
        color: #ffffff;
        background: #000000;
        text-decoration: none;
        text-align: center;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        
    }
    .card:hover .employee-info  {
        opacity: 0.8;
    }

   .employee-info > div{
       display:flex;
       flex-wrap: nowrap;
       justify-content: center;
    }

    .employee-info > div h4{
        padding: 5px 5px;
        font-family: 'Poppins', sans-serif;
    }

  .card{
    width: 350px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 2px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
  }
  .card:hover{
    box-shadow: 0 18px 16px -8px rgba(0,0,0,0.4);
    transition: box-shadow 500ms ease;

  }


  .card img {
    height: 100%;
    width: auto;
    position: relative;
    vertical-align: middle;
    border-style: none;
    filter: gray; 
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;  
}
.card img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }


.department-title{
    text-align:  center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

  footer{
    position: relative;
    width:100hw;
    background:#ececec;
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

footer > div{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

footer > div h4{
    padding: 5px;
    font-family: 'Poppins', sans-serif;
  }


  /*media query  for 980px */

  @media only screen and (max-width: 980px){
#staff-page-heading {
    margin: 30px;
    height: 300px;
    font-size: 25px;
    }
#staff-page-heading h1{
    padding-bottom: 180px;
    }

.parts-department{
    right: 50px;
  }
  }


   /*media query  for 750px */

   @media only screen and (max-width: 750px){
#staff-page-heading {
    margin: 30px;
    height: 300px;
    font-size: 20px;
  }
 #staff-page-heading h1{
    padding-bottom: 200px;
  }
  
.employee-info > div h4{
    padding: 5px 5px;
  }

   
.parts-department{
    right: 0;
  }
  }




  @media only screen and (max-width: 550px){

    /* StaffPage CSS */
#staff-page-heading {
    background-size: 150%;
    background-position: -100px -170px;
    margin: 30px;
    height: 300px;
    font-size: 15px;
  }
#staff-page-heading h1{
    padding-bottom: 230px;
  }

.department{
    display: flex;
    flex-wrap: wrap;

  }
  
footer > div{
    font-size: 15px;
  }
  }


   /*media query  for 375px */

   @media only screen and (max-width: 376px){
#staff-page-heading {
    background-size: 210%;
    background-position: -130px -170px;
    background-repeat: no-repeat;
    margin: 30px;
    height: 200px;
    font-size: 10px;
  }
#staff-page-heading h1{
    padding-bottom: 200px;
  }
  
.department{
    display: flex;
    flex-wrap: wrap;
  }
  
.employee-info > div{
    float: left;
  }

.card{
    width: 200px;
    height: 250px;
    background-position-x: 100px;
  }
  
.card img {
    display: block;
    right: -50px;
    width: 300px;
    position: absolute; 
  }

.parts-department img{
    background-position: center;
  }
  
.department-title{
    font-size: 20px;
  }

footer > div{
    font-size: 10px;
  }
  }